html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view td {
    white-space: nowrap;
   }*/
.grid-view td {
    max-width: 100px;
  /*  overflow: auto; /* optional */
    word-wrap: break-word;
}  
.detail-view td {
   max-width: 50px;
   /* overflow: auto; /* optional */
    word-wrap: break-word;
}
.detail-view th {
   max-width: 10px;
  /*  overflow: auto; /* optional */
    word-wrap: break-word;
}
.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Doctors detailview template css starts */

#main-container{
	margin:0px auto;
	padding:0px;
	background-color:#fff;	
}
.box-wrap{	
	border:1px solid #CCC;
}
.doctor-box{
	width:90%;
	border-bottom:1px solid #f1f2f2;
	padding:0px;
	margin:0px;	
	text-align:left;	
	color: #369;	
}
.right{
	font-size:15px;
	width:30%;	
	margin:10px;
	float:left;
	}
	
.right-second{
	font-size:15px;
	width:45%;
	color:#676b6d;	
	margin:10px;
	float:left;
	word-wrap:break-word;
	}
.right-content{
	font-size:15px;
	color: #676b6d;	
	font-size:15px;
	width:5%;
	margin:10px;
	float:left;
}
.main-wrap{
	width:100%;	
}
.panel-info {
    border-color: #bce8f1!important;
    margin-top: 15px!important;
}
.img-circle {
    border-radius: 50%!important;
    margin-top: 11px!important;
}
.box3{	
	float:left;
	padding:6px;
	margin:2px;	
	text-align:left;	
	color: #369;	
}

/*media start 320--*/

@media only screen and (width: 320px) {
 .doctor-box{
	width:90%;	
	font-size:11px!important;;
		
}  

.right-second{
	font-size:11px!important;
	width:30% !important;	
	float:left;
	}
.right-content{
	
	font-size:11px!important;
	width:10%!important;
	margin:10px;
	float:left;
}

.right{
	width:32%!important;	
	margin:10px;
	float:left;
	font-size:9px!important;
	} 
}

/*media start 360--*/
@media only screen and (width: 360px) {
 .doctor-box{
	width:90%;	
	font-size:11px!important;;
		
}  

.right-second{
	font-size:11px!important;
	width:30% !important;	
	float:left;
	}
.right-content{
	
	font-size:11px!important;
	width:10%!important;
	margin:10px;
	float:left;
}

.right{
	width:32%!important;	
	margin:10px;
	float:left;
	font-size:9px!important;
	} 
}

/*media start 412--*/

@media only screen and (width: 412px) {
 .doctor-box{
	width:90%;	
	font-size:11px!important;;
		
}  

.right-second{
	font-size:11px!important;
	width:30% !important;	
	float:left;
	}
.right-content{
	
	font-size:11px!important;
	width:10%!important;
	margin:10px;
	float:left;
}

.right{
	width:32%!important;	
	margin:10px;
	float:left;
	font-size:9px!important;
	} 
}

/* Doctors detailview template css ends */